<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dddlib" version="0.5.0-beta14" targetFramework="net45" />
  <package id="dddlib.Persistence" version="0.5.0-beta14" targetFramework="net45" />
  <package id="dddlib.Projections" version="0.5.0-beta14" targetFramework="net45" />
</packages>